body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1{
  text-align: center;
}

.post-content{
  border: 1px solid black;
  padding: 20px;
  background: #efefef;
  margin:10px;
}

button{
  background: darkcyan;
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  margin:10px;
}

.getnews-button{
  text-align: center;
}

.error-message, 
.post-head{
  text-align: center;
  padding-top: 50px;
}
